.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rbc-event {
  background-color: #d8c255;
  border-radius: 14px;
}

.rbc-event.rbc-selected {
  background-color: #d8c255;
}

.rbc-today {
  background-color: #84c6e8;
  border: solid 1 px #258fd6;
}

.rbc-header {
  background-color: #f2f2f2;
  width: 357.3px;
  height: 42.4px;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 0;
}

.rbc-time-view .rbc-allday-cell{
  height: 0;
}
