/* .rbc-event {
  background-color: #d8c255;
  border-radius: 14px;
}

.rbc-event.rbc-selected {
  background-color: #d8c255;
}

.rbc-today {
  background-color: #84c6e8;
  border: solid 1 px #258fd6;
}

.rbc-header {
  background-color: #f2f2f2;
  width: 357.3px;
  height: 42.4px;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 0;
}

.rbc-time-view .rbc-allday-cell {
  height: 0;
} */

.typeOfEvents{
  padding-top: 36px;
}
